<h4>Today's tasks</h4>
<ng-container *ngrxLet="statuses$ as statuses">
  <ng-container *ngrxLet="tasks$ as tasks">
    <div class="d-flex flex-wrap gap-3 w-100 h-100">
      @if(statuses){ @for (status of statuses; track status) {
      <ineo-dashboard-column
        (edit)="openTaskModal($event)"
        (delete)="deleteTask($event)"
        [loading]="loading$ | async"
        [status]="status"
        [tasks]="tasks | filterTasks : status"
      ></ineo-dashboard-column>
      }}@else {
      <ngx-skeleton-loader
        [count]="3"
        class="w-100"
        appearance="line"
        animation="progress"
        [theme]="{
          height: '100%',
          width: '30%',
          'margin-right': '23px'
        }"
      ></ngx-skeleton-loader>

      }
    </div>
  </ng-container>
</ng-container>
