@use "styles/variables" as *;
@use "@angular/material" as mat;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import "@angular/cdk/overlay-prebuilt.css";

:root {
  @include mat.fab-overrides(
    (
      container-color: white,
      container-elevation-shadow: none,
    )
  );
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@each $status, $color in $statuses-light {
  .task-#{$status} {
    background-color: $color;
  }
}

@each $status, $color in $statuses {
  .task-border-#{$status} {
    border-left: 4px solid $color;
  }
}
